[Desktop Entry]
Name=Minecraft Launcher
Comment=Official Minecraft Launcher

Icon=minecraft-launcher
Exec=minecraft-launcher

Terminal=false

Type=Application
Categories=Game;Application;
StartupWMClass=minecraft-launcher
Version=1.0
